:root {
  --main-text-color: #172b4d;
  --logo-text-color: #e2e4e6;
  --secondary-text-color: #5e6c84;
  --main-bg-color: #0079bf;
  --secondary-bg-color: #e2e4e6;
  --header-bg-color: #0366a0;
  --main-btn-color: #0079bf;
  --main-font: 'Pretendard';
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
  font-size: 14px;
  background-color: var(--main-bg-color);
}

a {
  color: var(--secondary-text-color);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

textarea,
input[type='text'] {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  color: var(--main-text-color);
}

.btn {
  padding: 10px;
  color: #fff;
  background-color: var(--main-btn-color);
  border-radius: 3px;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

/* Header component */
header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 44px;
  padding: 0 25px;
  background-color: var(--header-bg-color);
}

.logo {
  display: block;
  width: 87px;
  height: 32px;
  border-radius: 3px;
}

.logo:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.logo img {
  display: block; /* remove extra space below image */
  width: 75px;
  margin: 8px auto;
}

.logo img:last-child {
  display: none;
}

.logo:hover img:first-child {
  display: none;
}

.logo:hover img:last-child {
  display: block;
}

.logo-subtitle {
  color: var(--logo-text-color);
  font-weight: 200;
  font-size: 12px;
  margin-top: 5px;
}

/* Main component */
main {
  display: flex;
  padding: 54px 10px 10px 10px;
}

.lists-container {
  display: flex;
  align-items: flex-start;
}

.list {
  min-width: 280px;
  height: 100vh;
}

.list-container {
  margin: 10px;
  padding: 10px;
  background-color: var(--secondary-bg-color);
  border-radius: 3px;
}

.list-title {
  width: 100%;
  font-weight: 600;
  background-color: transparent;
  height: 32px;
  margin-bottom: 5px;
  padding: 5px;
  box-shadow: none;
  border-radius: 3px;
  border: none;
  resize: none;
  word-wrap: break-word;
  cursor: pointer;
}

.new-list-title {
  width: 100%;
  height: 32px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #fff;
  box-shadow: none;
  border-radius: 3px;
  border: none;
  resize: none;
  word-wrap: break-word;
  cursor: pointer;
}

.list-title:focus {
  background-color: #fff;
}

.list-creator {
  padding: 10px;
  background-color: var(--secondary-bg-color);
  border-radius: 3px;
}

.list-creator-container {
  min-width: 280px;
  margin: 10px;
}

.card-creator-opener,
.list-creator-opener {
  width: 100%;
  text-align: left;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list-creator-opener {
  padding: 10px;
  color: #fff;
  font-weight: 400;
  background-color: #ffffff3d;
  border-radius: 3px;
}

.list-creator-opener:hover {
  background-color: #00000029;
}

.list-creator-closer,
.card-creator-closer {
  cursor: pointer;
}

.card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 8px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 #091e4240;
  word-wrap: break-word;
  cursor: pointer;
}

.card-title {
  font-weight: 400;
  font-size: 14px;
}

.creator-controller {
  display: flex;
}

.card-creator-opener {
  padding: 10px;
  color: var(--secondary-text-color);
  border-radius: 3px;
}

.card-creator-opener:hover {
  background-color: #091e4214;
}

.new-card-title {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  line-height: 18px;
  border-radius: 3px;
  border: none;
  resize: vertical;
  overflow-y: auto;
  overflow-wrap: break-word;
}
